.Card_Container {
  margin: 24px 0 0 0;
  width: calc(100vw - 290px);
  display: flex;
  flex-direction: row;
  gap: 32px;
}

.Overview {
  padding: 24px 0 20px 20px;
  background: #e5e5e5;
  height: calc(100vh - 67px);
}
.card {
  width: 280px;
  height: 110px;
  padding: 20px;
  border-radius: 7px;
}
.blue {
  background: linear-gradient(90deg, #7dd3fc 0%, #bae6fd 102.82%);
}

.grey {
  background: linear-gradient(90deg, #d4d4d8 0%, #e4e4e7 102.82%);
}

.red {
  background: linear-gradient(90deg, #fda4af 0%, #fecdd3 102.82%);
}

.card_head {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-bottom: 15px;
}

.card-value {
  font-weight: 500;
  font-size: 30px;
  line-height: 36px;
  color: #ffffff;
}

.card-detail-button {
  color: white;
  font-weight: 500;
  font-size: 12px;
  line-height: 15px;
  width: 64px;
  height: 20px;
  border-radius: 12px;
  border: none;
}

.blue_button {
  background: rgba(56, 189, 248, 0.75);
}

.grey_button {
  background: rgba(113, 113, 122, 0.75);
}

.red_button {
  background: rgba(251, 113, 133, 0.75);
}

.week_list {
  margin: 90px 0 0 0;
}

.week_list_header {
  font-weight: 500;
  font-size: 22px;
  line-height: 27px;
}

.transaction-item {
  margin: 20px 0 0 0;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  background: #f8fafc;
  width: 904px;
  padding: 15px;
  border-radius: 7px;
}

.transaction_head {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  width: 50%;
}

.Blue-Icon {
  color: #0284c7;
  background: rgba(2, 132, 199, 0.2);
  border-radius: 50%;
  padding: 4px;
  width: 32px;
  height: 32px;
}

.Green-Icon {
  color: #059669;
  background: rgba(5, 150, 105, 0.2);
  border-radius: 50%;
  padding: 4px;
  width: 32px;
  height: 32px;
}

.transaction_note {
  width: 90%;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  color: #334155;
}

.transaction_body {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 22px;
}

.transaction_date {
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  color: #334155;
}

.transaction_amount {
  width: 81px;
  height: 31px;
  text-align: center;
  padding: 4px 0;
  font-weight: 600;
  font-size: 18px;
  line-height: 22px;
  color: #ef2a4c;
  background: rgba(239, 42, 76, 0.15);
  border-radius: 6px;
}

.list-Add {
  margin: 90px 0 0 0;
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-between;
  align-items: center;
  width: 904px;
}

.list-button {
  background: rgba(28, 101, 140, 0.15);
  border-radius: 50px;
  border: none;
  padding: 8px 16px;
  font-weight: 500;
  font-size: 20px;
  line-height: 24px;
  color: #1c658c;
}
