* {
  box-sizing: border-box;
  font-family: inherit;
  margin: 0;
  padding: 0;
}

@font-face {
  font-family: "Inter";
  src: url("/fonts/Inter-Medium.woff2") format("woff2"),
    url("/fonts/Inter-Medium.woff") format("woff");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Inter";
  src: url("/fonts/Inter-Regular.woff2") format("woff2"),
    url("/fonts/Inter-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Inter";
  src: url("/fonts/Inter-SemiBold.woff2") format("woff2"),
    url("/fonts/Inter-SemiBold.woff") format("woff");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}
/* button-component */
.button {
  border-radius: 1000px;
  padding: 8px 16px;
  font-size: 16px;
  font-weight: 600;
  text-align: center;
  transition: background-color 0.3s ease, border-color 0.3s ease,
    color 0.3s ease;
  outline: none;
  text-transform: capitalize;
}

.button-border-no-rounded {
  border-radius: 0 !important;
}

.button-type-normal {
  border-width: 0 !important;
  background-color: black;
  color: white;
}

.button-type-ghost {
  background-color: transparent;
  border-width: 2px;
  border-style: solid;
  border-color: black;
}

.button-size-small {
  padding: 3px 10px;
  font-size: 12px;
  font-weight: 400;
  text-transform: none;
}

.button-size-normal {
  padding: 8px 12px;
  font-size: 14px;
  font-weight: 500;
}

.button-size-large {
  padding: 8px 16px;
  font-size: 20px;
  font-weight: 500;
}

body {
  font-family: "inter";
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}
body::before {
  content: "";
  width: 100%;
  height: 100%;
  opacity: 0.1;
  background-image: url("/assets/background-pattern.png");
  background-repeat: repeat;
  position: absolute;
  z-index: 0;
}
body .app-container {
  width: 1440px;
  height: 1024px;
  position: relative;
  display: grid;
  grid-template-columns: 250px 1fr;
  grid-template-rows: 80px 1fr;
  background-color: #ffffff;
  box-shadow: 0px 0px 18px 2px rgba(0, 0, 0, 0.1);
}
body .app-container .slidebar {
  grid-row: span 2;
  padding: 25px 15px;
  display: flex;
  flex-direction: column;
  row-gap: 30px;
  background: linear-gradient(#30475e, #222831);
}
body .app-container .slidebar > :first-child {
  margin-bottom: 60px;
}
body .app-container .slidebar .navlink {
  font-size: 22px;
  text-transform: capitalize;
  color: #d4d4d8;
  text-decoration: none;
  font-weight: 400;
}
body .app-container .slidebar .navlink[aria-current="page"] {
  color: #ffffff !important;
}
body .app-container .topbar {
  background-color: #f7f4f3;
  padding: 25px;
}
body .app-container .topbar span {
  font-size: 22px;
  text-transform: capitalize;
  color: #374151;
  font-weight: 500;
}
body .app-container .main {
  background-color: #ffffff;
}
