* {
  box-sizing: border-box;
  font-family: inherit;
  margin: 0;
  padding: 0;
}

.index-page {
  font-family: system-ui, sans-serif;
  color: black;
  margin-left: 200px;
}

.main-content {
  margin-left: 200px;
}

.container {
  display: flex;
  flex-direction: row;
}

.side-nav {
  position: fixed;
  width: 200px;
  height: 100%;
  background: linear-gradient(180deg, #30475e 0%, #222831 100%);
  z-index: 1;
}
