.Transaction {
  background: #e5e5e5;
  height: 100vh;
  overflow: hidden;
}

.Main_Content__Body {
  padding: 0 24px 24px;
}

.SearchBar {
  position: relative;
}

.SearchBar__input {
  width: 93%;
  padding: 1rem 3rem;
  margin: 1.5rem 0;
  border-radius: 10px 0 0 10px;
  border: none;
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
  color: #bec9d7;
}

.SearchBar__input:focus {
  outline: none;
}

.SearchBar__Icon {
  position: absolute;
  left: 0.8rem;
  top: 2.2rem;
}

.SearchBar__Btn {
  width: 7%;
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
  padding: 1rem 1rem;
  border: none;
  border-radius: 0 10px 10px 0;
  background: #1c658cbf;
  color: #fff;
}

.Filter_Section {
  display: flex;
  flex-direction: row;
}

.Filter_Content {
  width: 93%;
  padding: 10px 20px;
  display: flex;
  flex-direction: row;
  justify-content: left;
  align-items: center;
  border-radius: 7px;
  background: #f8fafc;
  gap: 24px;
}

.Filter_Icon {
  width: 18px;
  height: 18px;
  bakground: red;
}

.Filter_Select {
  -webkit-appearance: none;
  width: 300px;
  height: 40px;
  padding: 10px;
}

.Filter_Select:focus {
  outline: none;
}

.date-picker {
  width: 300px;
  height: 40px;
  border: 1px solid #c4c4c4;
  border-radius: 6px;
  padding: 10px;
}

.date-elements {
  position: relative;
}

.transaction-item {
  margin: 0 0 20px 0;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  background: #f8fafc;
  width: 904px;
  padding: 15px 12px;
  border-radius: 7px;
}

.transaction_head {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  width: 50%;
}

.Blue-Icon {
  color: #0284c7;
  background: rgba(2, 132, 199, 0.2);
  border-radius: 50%;
  padding: 4px;
  width: 32px;
  height: 32px;
}

.Green-Icon {
  color: #059669;
  background: rgba(5, 150, 105, 0.2);
  border-radius: 50%;
  padding: 4px;
  width: 32px;
  height: 32px;
}

.transaction_note {
  width: 90%;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  color: #334155;
}

.transaction_body {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 22px;
}

.transaction_date {
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  color: #334155;
}

.transaction_amount {
  width: 81px;
  height: 31px;
  text-align: center;
  padding: 4px 0;
  font-weight: 600;
  font-size: 18px;
  line-height: 22px;
  color: #ef2a4c;
  background: rgba(239, 42, 76, 0.15);
  border-radius: 6px;
}

.Transaction__Table {
  margin: 20px 0 0 0;
}
