{
  "extends": [
    "@remix-run/eslint-config",
    "@remix-run/eslint-config/node",
    "plugin:react/recommended",
    "plugin:react/jsx-runtime",
    "prettier"
  ],
  "overrides": [
    {
      "files": ["app/**/*.jsx"],
      "rules": {
        "react/require-default-props": ["warn"],
        "react/default-props-match-prop-types": ["warn"],
        "react/prop-types": ["off"]
      }
    }
  ],
  "rules": {
    "no-console": ["warn", {"allow": ["warn"]}]
    }
}
