@import '../components/layout';
@import '../components/header';
@import '../components/navbar';
@import '../components/nav-item';

.index-page {
  font-family: system-ui, sans-serif;
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: center;
}