.pagination {
  max-width: $transactions-list-max-width;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  margin: spacing(4);

  ul {
    display: flex;
    align-items: center;
    list-style-type: none;

    li {
      margin: 0 spacing(1);
    }
  }

  button {
    font-size: 20px;
    background-color: transparent;
    border-radius: 50%;
    padding: spacing(1.5) spacing(3);
  }

  .nav-button-active {
    color: $white;
    background-color: $primary-color;
  }

  .nav-button-inactive {
    border: 1px solid $primary-color;
  }

  .nav-button-disabled {
    color: $disabled-color;
    &:hover {
      cursor: not-allowed;
      box-shadow: none;
    }
  }
}
