.latest-transactions {
  width: 80%;
  height: 65%;
  padding: 0 2.5rem;
  .title {
    font-size: 2.2rem;
  }
  .container {
    display: block;
    overflow: auto;
    max-height: 70%;
    margin: 2rem 0 4rem 0;
  }
  .add-transaction {
    padding: 0.8rem 1.6rem;
    border-radius: 50px;
    background-color: rgba(28, 101, 140, 0.15);
    font-size: 2rem;
    color: rgba(28, 101, 140, 1);
    border: none;
  }
}
