/* button-component */
.button {
  border-radius: 1000px;
  padding: 8px 16px;
  font-size: 16px;
  font-weight: 600;
  text-align: center;
  transition: background-color 0.3s ease, border-color 0.3s ease,
    color 0.3s ease;
  outline: none;
  text-transform: capitalize;
  cursor: pointer;
}

.button-border-no-rounded {
  border-radius: 0 !important;
}

.button-type-normal {
  border-width: 0 !important;
  border-color: transparent !important;
}

.button-type-ghost {
  background-color: transparent !important;
  border-width: 2px;
  border-style: solid;
}

.button-type-text {
  background-color: transparent !important;
  border-width: 0 !important;
  border-color: transparent !important;
}

.button-variant-primary {
  background-color: lighten($color: $primary, $amount: 55);
  border-color: $primary;
  color: $primary;
}

.button-variant-secondary {
  background-color: lighten($color: $secondary, $amount: 45);
  border-color: $secondary;
  color: $secondary;
}

.button-variant-danger {
  background-color: lighten($color: $danger, $amount: 35);
  border-color: $danger;
  color: $danger;
}

.button-variant-success {
  background-color: lighten($color: $success, $amount: 55);
  border-color: $success;
  color: $success;
}

.button-variant-info {
  background-color: lighten($color: $info, $amount: 20);
  border-color: $info;
  color: $info;
}

.button-variant-warning {
  background-color: lighten($color: $warning, $amount: 40);
  border-color: darken($color: $warning, $amount: 10);
  color: darken($color: $warning, $amount: 10);
}

.button-variant-dark {
  background-color: lighten($color: $dark, $amount: 55);
  border-color: $dark;
  color: $dark;
}

.button-variant-light {
  background-color: lighten($color: $light, $amount: 55);
  border-color: $light;
  color: $light;
}

.button-variant-light.button-type-normal {
  color: $dark !important;
}

.button-size-small {
  padding: 3px 10px;
  font-size: 12px;
  font-weight: 400;
  text-transform: none;
}

.button-size-normal {
  padding: 8px 12px;
  font-size: 14px;
  font-weight: 500;
}

.button-size-large {
  padding: 8px 16px;
  font-size: 20px;
  font-weight: 500;
}

/* card-component */
.card {
  width: 280px;
  height: 110px;
  padding: 20px 25px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-columns: 2fr 3fr;
  background: linear-gradient(to right, #7dd3fc, #bae6fd);
  border-radius: 7px;
  gap: 14px 100px;

  & .card-title {
    width: 100%;
    height: 100%;
    color: #1a74c7;
    font-size: 18px;
    font-weight: 600;
    text-transform: capitalize;
    margin: auto 0px;
  }

  & .card-detail-button {
    max-width: 64px;
    max-height: 20px;
    color: white;
    cursor: pointer;
    margin: auto 0px auto auto;
  }

  & .card-value {
    &::before {
      content: "$";
    }

    grid-column: span 2;
    width: 100%;
    height: 100%;
    color: #ffffff;
    font-size: 30px;
    font-weight: 500;
  }
}

.card-primary {
  background: linear-gradient(
    to right,
    lighten($color: $primary, $amount: 35),
    lighten($color: $primary, $amount: 55)
  );

  & .card-title {
    color: $primary;
  }

  & .card-detail-button {
    background-color: lighten($color: $primary, $amount: 20);
  }
}

.card-secondary {
  background: linear-gradient(
    to right,
    lighten($color: $secondary, $amount: 25),
    lighten($color: $secondary, $amount: 48)
  );

  & .card-title {
    color: $secondary;
  }

  & .card-detail-button {
    background-color: lighten($color: $secondary, $amount: 20);
  }
}

.card-success {
  background: linear-gradient(
    to right,
    lighten($color: $success, $amount: 30),
    lighten($color: $success, $amount: 60)
  );

  & .card-title {
    color: $success;
  }

  & .card-detail-button {
    background-color: lighten($color: $success, $amount: 20);
  }
}

.card-warning {
  background: linear-gradient(
    to right,
    lighten($color: $warning, $amount: 15),
    lighten($color: $warning, $amount: 35)
  );

  & .card-title {
    color: darken($color: $warning, $amount: 10);
  }

  & .card-detail-button {
    background-color: $warning;
  }
}

.card-danger {
  background: linear-gradient(
    to right,
    lighten($color: $danger, $amount: 25),
    lighten($color: $danger, $amount: 40)
  );

  & .card-title {
    color: $danger;
  }

  & .card-detail-button {
    background-color: lighten($color: $danger, $amount: 20);
  }
}

.card-info {
  background: linear-gradient(
    to right,
    lighten($color: $info, $amount: 10),
    lighten($color: $info, $amount: 20)
  );

  & .card-title {
    color: darken($color: $info, $amount: 30);
  }

  & .card-detail-button {
    background-color: darken($color: $info, $amount: 5);
  }
}

/* transaction-component */
.transaction {
  width: 100%;
  height: 56px;
  padding: 12px 15px;
  background-color: $light;
  display: flex;
  justify-content: space-between;
  align-items: center;

  .icon-title-container {
    column-gap: 14px;
    display: flex;
    align-items: center;

    .icon {
      height: 100%;
      aspect-ratio: 1;
    }

    .title {
      font-size: 16px;
      font-weight: 400;
      color: #334155;
    }
  }

  & .date-amount-container {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    column-gap: 20px;

    & .date {
      text-align: center;
      font-weight: 400;
      font-size: 16px;
      width: 120px;
      text-transform: capitalize;
    }

    & .amount {
      width: 80px;
      height: 100%;
      border-radius: 6px;
      display: flex;
      align-items: center;
      justify-content: center;

      & > span {
        margin: auto;
        font-size: 18px;
        font-weight: 600;
      }
    }
  }
}

.transaction-type-expense {
  & .date-amount-container {
    & .amount {
      background-color: lighten($color: $danger, $amount: 25);

      & > span {
        color: $danger;

        &::before {
          content: "-";
        }
      }
    }
  }
}

.transaction-type-income {
  & .date-amount-container {
    & .amount {
      background-color: lighten($color: $info, $amount: 20);

      & > span {
        color: darken($color: $info, $amount: 10);

        &::before {
          content: "+";
        }
      }
    }
  }
}

/* drop-down component */
.dropdown {
  position: relative;
  width: 300px;

  .dropdown-select {
    background-color: #ffffff;
    font-size: 16px;
    padding: 6px 8px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-transform: capitalize;
    height: 48px;
    border-radius: 7px;
    cursor: pointer;

    .dropdown-select-title {
      max-width: 200px;
      display: inline-block;
      overflow: hidden;
      white-space: nowrap;
      text-overflow: ellipsis;
    }

    .down-arrow {
      margin-left: auto;
    }
  }

  .dropdown-list-showed {
    display: block !important;
  }

  .dropdown-list {
    margin-top: 8px;
    display: none;
    position: absolute;
    box-sizing: border-box;
    width: 100%;
    list-style: none;
    border-radius: 7px;
    background-color: #ffffff;
    overflow: hidden;
  }

  .dropdown-option {
    display: flex;
    align-items: center;
    padding: 6px 8px;
    height: 48px;
    cursor: pointer;
    background-color: #ffffff;
    transition: background-color 0.25s linear;

    &[data-disabled="true"] {
      cursor: default;
      opacity: 0.5 !important;

      &:hover {
        background-color: #ffffff;
      }
    }

    &:hover {
      background-color: #eee;
    }

    .option-check-box {
      height: 100%;
      aspect-ratio: 1;
      display: flex;
      justify-content: center;
      align-items: center;
    }

    .option-title {
      font-size: 16px;
      text-transform: capitalize;
    }
  }
}
