.topbar{
    padding: 18px;
    background-color:  #F7F4F3;
    box-shadow: 0px 1px 8px rgba(34, 40, 49, 0.05);
    height: 80px;
    .title {
        font-size: 22px;
        font-weight: 500;
    } 
}