.transaction {
  display: flex;
  justify-content: space-between;
  padding: 10px 20px;
  background-color: rgba(248, 250, 252, 1);
  border-radius: 7px;
  margin-bottom: 10px;
  color: rgba(51, 65, 85, 1);
  .wrapper {
    display: flex;
    align-items: center;
    column-gap: 18px;
  }
  .icon {
    width: 32px;
    height: 32px;
    padding: 5px;
    border-radius: 50%;
    &.green {
      background-color: rgba(5, 150, 105, 0.2);
      color: rgba(5, 150, 105, 1);
    }
    &.blue {
      background-color: rgba(2, 132, 199, 0.2);
      color: rgba(2, 132, 199, 1);
    }
  }
  .note {
    width: 40rem;
    font-size: 16px;
    line-height: 19px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }
  .date {
    font-size: 16px;
    line-height: 19px;
  }
  .amount {
    padding: 6px 20px;
    border-radius: 6px;
    font-size: 18px;
    font-weight: 600;
    line-height: 22px;
    text-align: center;
    &.green {
      background-color: rgba(14, 165, 233, 0.15);
      color: rgba(14, 165, 233, 1);
    }
    &.red {
      color: rgba(239, 42, 76, 1);
      background-color: rgba(239, 42, 76, 0.15);
    }
  }
}
