// palette

$white: #ffffff;
$black: #000000;

$primary-color: #1c658c;
$primary-color-background: #1c658c26;

$secondary-color: #f05454;

$success-color: #059669;
$success-color-background: #05966933;

$error-color: #ef2a4c;
$error-color-background: #fb7185bf;
$error-color-background-lighter: #ef2a4c26;

$info-color: #1a74c7;
$info-color-background: #38bdf8bf;

$neutral-color: #58585d;
$neutral-color-background: #71717abf;

$disabled-color: #a0aec0;

$paper-color: #f8fafc;
$background-color: #e8e8e8;

$border-color: lighten($neutral-color-background, 45%);

$text-primary: $black;
$text-secondary: #334155;
$text-black-contrast-primary: $white;
$text-black-contrast-secondary: #d4d4d8;

// typography
$font-family: 'Inter', sans-serif;
$font-size: 16px;
$font-weight: 400;
$font-weight-semi-bold: 500;
$font-weight-bold: 600;
$font-weight-bolder: 800;
$font-weight-light: 300;

h1 {
  font-size: 28px;
  font-weight: $font-weight-bold;
}

h2 {
  font-size: 26px;
  font-weight: $font-weight-bold;
}

h3 {
  font-size: 24px;
  font-weight: $font-weight-bold;
}

h4 {
  font-size: 22px;
  font-weight: $font-weight-semi-bold;
}

h5 {
  font-size: 20px;
  font-weight: $font-weight-semi-bold;
}

h6 {
  font-size: 18px;
  font-weight: $font-weight-semi-bold;
}

// spacing
$spacing: 4px;
@function spacing($amount) {
  @return $spacing * $amount;
}

// shape
$border-radius: 0.6rem;
$button-border-radius: $border-radius * 4;

// shadows
$shadow: 0 0 0 1px rgba(0, 0, 0, 0.05), 0 1px 2px 0 rgba(0, 0, 0, 0.05);

// z-index
$z-index-0: 0;
$z-index-modal: 10;
$z-index-sidebar: 20;

// transitions
$primary-transition: all 0.2s ease-in-out;

body {
  background-color: $background-color;
  font-family: $font-family;
}

button {
  border: none;
  border-radius: $button-border-radius;
  padding: spacing(1.8) spacing(4.5);
  font-size: 18px;
  font-weight: $font-weight-bold;
  color: $primary-color;
  background-color: $primary-color-background;
  transition: $primary-transition;

  &:hover {
    cursor: pointer;
    box-shadow: $shadow;
  }
}

.dismiss-button {
  @extend button;

  color: $primary-color;
  background-color: transparent;
  border: 1px solid $primary-color;
}

.icon-button {
  transition: $primary-transition;
  &:hover {
    cursor: pointer;
  }
}

@mixin chip {
  border-radius: $border-radius;
  padding: spacing(1) spacing(4);
}

@mixin circle-chip {
  border-radius: 50%;
  padding: spacing(2) spacing(2);
}

.error {
  color: $error-color;
  background-color: $error-color-background;
}

.error-message {
  color: $error-color;
}

.error-input {
  border: 1px solid $error-color !important;
}

.error-chip {
  color: $error-color;
  background-color: $error-color-background-lighter;
  @include chip;
}

.error-gradient {
  background: linear-gradient(
    to right,
    $error-color-background,
    lighten($error-color-background, 25%)
  );
}

.info {
  color: $info-color;
  background-color: $info-color-background;
}

.info-gradient {
  background: linear-gradient(
    to right,
    $info-color-background,
    lighten($info-color-background, 25%)
  );
}

.neutral {
  color: $neutral-color;
  background-color: $neutral-color-background;
}

.neutral-gradient {
  background: linear-gradient(
    to right,
    $neutral-color-background,
    lighten($neutral-color-background, 25%)
  );
}

.success-chip {
  color: $success-color;
  background-color: $success-color-background;
  @include chip;
}
