@import "global";
@import "pages/index";

body {
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;

  &::before {
    content: "";
    width: 100%;
    height: 100%;
    opacity: 0.1;
    background-image: url("/assets/background-pattern.png");
    background-repeat: repeat;
    position: absolute;
    z-index: 0;
  }
}
